@using ExpertCenter.MvcApp.Models.Product

<div id="deleteModal" class="modal fade" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Delete" asp-controller="Products" asp-route-id="" method="post">
                <input name="ProductId" type="hidden" value="-1" />
                <div class="modal-header">
                    <h3 class="modal-title">Удалить продукт?</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить данный продукт?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>
