@using ExpertCenter.MvcApp.Models.Product

@model ColumnCreateModel

<li class="row row-cols-4 align-items-center column p-2 m-1 border-warning border rounded">
    <div class="number col-auto">
    </div>
    <div class="col-4">
        <div class="form-group">
            <input asp-for="ColumnName" class="form-control" placeholder="Название колонки" autocomplete="off" />
            <span asp-validation-for="ColumnName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <input asp-for="ColumnType" class="form-control" value="@ViewBag.ColumnTypes[0].Value" hidden />
            <div class="dropdown column-type-selector">
                <button class="btn btn-light dropdown-toggle w-100 column-type-selector-button"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    @ViewBag.ColumnTypes[0].Text
                </button>
                <ul class="dropdown-menu">
                    @foreach (var columnType in ViewBag.ColumnTypes)
                    {
                        <li><button type="button"
                                    class="dropdown-item"
                                    value="@columnType.Value">@columnType.Text</button></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-danger w-100 delete-column" type="button">Удалить</button>
    </div>
</li>
