@using ExpertCenter.MvcApp.Models.PriceList
@model PriceListDetailsModel

@{
    ViewData["Title"] = Model.PriceListName;
}

<h1>@Model.PriceListName</h1>
<a asp-controller="Products" asp-action="Create" asp-route-priceListId="@Model.PriceListId" class="btn btn-success">Создать новый товар</a>
<a asp-action="Index" class="btn btn-secondary">Вернуться к списку</a>
<hr />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Артикль</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Article</td>
                </tr>
            }
        </tbody>
    </table>
</div>
