@using ExpertCenter.MvcApp.Models.PriceList
@model IEnumerable<PriceListViewModel>

@{
    ViewData["Title"] = "Прайс листы";
}

<h1>Список прайс листов</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Новый прайс лист</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PriceListId)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("PriceList/_PriceListRow", item)
    }
    </tbody>
</table>
    
@await Html.PartialAsync("PriceList/_Delete", new PriceListDeleteModel() { PriceListId = 0 })
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#deleteModalPattern').find('#deleteModal').attr('id', 'deleteModalOriginal');
        })

        function deletePriceList(id, name) {
            $('#deleteModal').find('form').attr('action', '/PriceLists/Delete/' + id);
            $('#deleteModal').find('input[name="PriceListId"]').val(id);
            $('#deleteModal').find('span[id="priceListName"]').text(name);

            $('#deleteModal').modal('show');
        }
    </script>
}
